body {
  margin-top: 30px;
}

.container, #domain, #button {
  font-family: "BlinkMacSystemFont";
}

.container {
  width: 800px;
}

header {
  margin-bottom: 20px;
}

button {
  cursor: pointer;
}

#domain::-webkit-input-placeholder {
  opacity: 0.4;
}

#status {
  margin-top: 10px;
}

.input-group {
  padding-left: 0;
}
