body {
  margin-top: 30px;
}

.container, #domain, #button, #save, select {
  font-family: "BlinkMacSystemFont";
}

.container {
  width: 800px;
}

header {
  margin-bottom: 20px;
}

label {
  font-weight: 700;
  font-size: 14px;
  margin-top: 15px;
}

#domain::-webkit-input-placeholder {
  opacity: 0.4;
}

#instance-url-msg {
  margin-top: 10px;
}

#save {
  margin-top: 30px;
}

#status {
  margin-top: 37px;
  margin-bottom: 0;
}

.input-group {
  padding-left: 0;
}
