.container {
  width: 600px;
}

.row {
  margin: 15px 0;
}

textarea {
  resize: none;
}

#content::-webkit-input-placeholder {
  opacity: 0.4;
}

button {
  cursor: pointer;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  overflow: auto;
}
